body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

canvas {
    width: 80%; /* Adjust the width to 80% of its container */
    height: auto; /* Allow the height to adjust automatically */
    max-width: 600px; /* Set a maximum width for the chart */
    max-height: 300px; /* Set a maximum height for the chart */
    border: 1px solid #ccc; /* Optional: add a border for better visibility */
    margin-bottom: 20px;
}

#hiddenDomainsContainer {
    margin-top: 20px;
}

.hidden-domain-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.undo-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

.undo-btn:hover {
    background-color: #218838;
}
